APP_PORT=3000
APP_ENV=local

DB_CONNECTION="postgres"
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=TodoDB
DB_LOGGING_FLAG=disabled

CORS_WHITELIST=http://127.0.0.1:3000,http://localhost:3000
CORS_EXPOSED_HEADERS=
CORS_ALLOWED_HEADERS=Access-Control-Allow-Headers,Origin,X-Requested-With,Content-Type,Accept,Authorization

JWT_SECRET=TCF6iSafmCwxe9kLTUKbXctLJWGon8SMAsffc8HAcny38LfWV4sUPK9bUJbLJmL0e1SsA
JWT_EXPIRATION=1d

ENABLE_GRAPHQL_TRACING=true